---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
---

<Layout>
  <div class="container mx-auto p-8">
    <Menu currentPage="index" />
    
    <div class="text-center">
      <h1 class="text-4xl font-bold text-primary mb-4">
        TP4 - Observable Plot
      </h1>
      <p class="text-lg text-base-content mb-8">
        Navigation entre les exercices de graphiques
      </p>
    </div>
  </div>
</Layout>
