---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
---

<Layout>
  <div class="container mx-auto p-8">
    <Menu currentPage="simple" />
    
    <h1 class="text-2xl font-bold mb-4 text-center">Graphique simple</h1>
    <div id="myplot" class="flex justify-center"></div>

    <script>
      import * as Plot from "@observablehq/plot";

      const plot = Plot.rectY(
        { length: 10000 },
        Plot.binX({ y: "count" }, { x: Math.random })
      ).plot();
      const div = document.querySelector("#myplot");
      div.append(plot);
    </script>
  </div>
</Layout>
